<html>
<head>
	<title>{{ leaguename }} | liveFPL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/custom.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/animator.js"></script>
	<script src="/static/js/rankingTableUpdate.js"></script>
	<script src="/static/js/jquery.tablesorter.js"></script>
	<script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
</head>

<body style="background-image:url('/static/img/groovepaper.png')">
<audio id="ding">
	<source src="static/sounds/ding.mp3"></source>
	<source src="static/sounds/ding.ogg"></source>
</audio>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
    <a class="brand" href="/">LiveFPL</a>
    <a href="#"   onclick="location.reload(true)" class="btn btn-success">Refresh</a>
    <ul class="nav">

    	<li class="dropdown"><a id="leagues" href="#"  class="dropdown-toggle" data-toggle="dropdown">Leagues <b class="caret"></b></a>
    		<ul class="dropdown-menu">
    			{% for league in leagues %}
    				{% if league[1]['players'] != '0' %}
    					{% if league[1]['type'] == 'classic' %}
    						<li><a href="/classic?league_id={{league[0]}}&team_id={{team_id}}">{{ league[1]['name'] }} (Classic)</a></li>
    					{% else %}
    						<li><a href="/h2h?league_id={{league[0]}}&team_id={{team_id}}">{{ league[1]['name'] }} (H2H)</a></li>
    				{% endif %}
    				{% else %}
    				{% endif %}
    			{% endfor %}
    		</ul>
    	</li>
    	<li>
    		<a href="#featuresModal" data-toggle="modal">Features</a>
    	</li>
    </ul>
  </div>
</div>

<div class="container-fluid">
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		LiveFPL has been <strong>Updated!</strong> Check the <a href="#featuresModal" data-toggle="modal">Features tab</a> to see what is new!
	</div>
	<div class="span8">
		<h4 id="{{ league_id }}">{{ leaguename }}</h4>


		<div id="table_container">
			<div id="loading" style="margin:20% auto;width:60%;">
				<p>Please wait while get the data for the {{ size }} teams. <span id="loadcounter"></span></p>
				<div class="progress progress-warning progress-striped active" style="background-image: -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(231, 231, 231));">
		  			<div class="bar" style="width: 1%;"></div>
				</div>
				<div class="well well-small" style="padding-bottom:0">
					<div id="tweetCarousel" class="carousel slide">
						<div class="carousel-inner">
							{% for tweet in tweets %}

								<div class="item">
									<h5 style="margin-top:5px;margin-bottom:0;">Did you know?</h5>
									<p style="padding-top:0;">{{tweet[1]}}</p>
									<p style="text-align:right;padding-right:12px;margin-right:2px;padding-top:0;"><a href="{{tweet[0]}}" target="_blank">- OptaJoe</a></p>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>



			<table class="table table-bordered" id="xtable">
				<thead>
					<tr>
						<th class="anim:constant sorter-false">Team Name</th>
						<th class="anim:constant sorter-false">Captain</th>
						<th class="anim:constant sorter-false">Remaining</th>
						<th class="anim:constant sorter-false"><span rel='tooltip' data-title='Numbers of transfers made this GW. NOT taken into account in GW Pts.'>Transfers</span></th>
						<th class="anim:constant sorter-false"><span rel='tooltip' data-title='Total Point for the gameweek {{currentgw}}'>Current GW</span></th>
						<th class="anim:constant sorter-false"><span rel='tooltip'data-title='Total Point for this season, including this GW points'>Total Points</span></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="span4">
		<div class="row-fluid">
		<h4>status is: <span id='status'>{{livefpl_status}}</span></h4>
		</div>
		<div id="ticker" class="row-fluid">
			<div class="span6">
				<h4 class='pull-left'>Latest Update</h4>
			</div>
			<div class="span6">
				<p class="pull-right">Sound: <i id="sound" class="icon-volume-up icon-large"></i></p>
			</div>
		</div>
		<div class="ticker-container row-fluid">
			<ul id="update" class="nav nav-tabs nav-stacked">
				{% for event in events %}
					<li class="pushmsg"><p>[{{ event['time'] }}'] <span rel="tooltip" title="total point:{{ event['TP'] }}pts" class="player-name" pid ="{{event['pid']}}">{{ event['playername'] }}</span>{{ event['message'] }}</p></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>


<!-- Features Modal -->
<div id="featuresModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="featuresModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">LiveFPL Features</h3>
  </div>
  <div class="modal-body">
    <h4>New Features this Gameweek</h4>
    	<ul>
			<li>Rebuild liveFPL from the ground up.</li>
		</ul>
    <h4>Already working Features</h4>
	<ul>
		<li>When you Hover a player in the ticker on the right, It will highlight the teams that have it in their starting lineup. Also indicate if its the captain or not. </li>
		<li>Added new check on push update</li>
		<li>Recoded the player scrapping to be based on player ID and not bug</li>
		<li>Sound alert when there's a new action. Can be turn ON/OFF.</li>
		<li>liveFPL should be able to go from old GW to an new one on its own...</li>
		<li>Live update table</li>
		<li>Push Notification of ongoing actions</li>
		<li>A Lot of needed boring things...</li>
	<ul>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<script type="text/javascript">
$('#xtable').hide()
var leagueId = $('.span8 h4').attr('id');

//Check if we have data or need to wait for new
var scrapTimer = "{{data|safe}}"
var leagueSize = {{size}}

// build data with already scrapped data
var oldScrap = {{return_data |tojson|safe}}
if ( $('#loading').length > 0 && scrapTimer == "old") {
	console.log("Got old data. using that")
	buildTable(oldScrap,$('#xtable'));
	$('#loading').remove();
	$('#xtable').show();
}

// Fix tickerOverlofw
function tickerOverflow() {
	if ($('#update li').length >= 5) {
		$('.ticker-container').attr('style', 'overflow-y:scroll;');
	}
	if ($('#update li').length >= 1) {
		$('#ticker h4').html('Latest Updates');
	}
};

//Hover playername highlight team
function playerHiglight(){
	$('#update li').hover(function(){
		playerId = $(this).find('span').attr("pid");
		$("#xtable tbody td[data-lineup*='"+playerId+"']").parent().css("background-color","#d9edf7");
		},
		function(){
			$("#xtable tbody td[data-lineup*='"+playerId+"']").parent().css("background-color","");
	});
};


//Page SETUP
$(document).ready(function(){
	$('.carousel').carousel({interval: 10000});
	// Fix the 1st tweet in the carousel
	$('.carousel-inner > .item:nth-child('+[Math.floor(Math.random()*51)]+')').attr('class','active item')
	//Activate tooltip
	$('[rel=tooltip]').tooltip();
	// Fix Ticker update overflow
	tickerOverflow();
	playerHiglight();
});


//Push table update
var whichMember = 0;
var returnedData = [];
var pusher = new Pusher('b2c9525770d59267a6a2');
		    var channel = pusher.subscribe(leagueId);
		    channel.bind('classic', function(data) {
		    	if ( data == "error 1") {
		    		$('#loading').html('Your league is not in DB.')
		    	}
		    	else {

					if ( $('#loading').length ) {
				    	if ( whichMember <= leagueSize) {
				    		returnedData.push(data)
				    		whichMember ++;
				    		updateLoadingBar();
				    		if ( whichMember == leagueSize ){
				    				buildTable(returnedData, $('#xtable'))
									//Table is complete. removing loading div and showing table
									$('#loading').fadeOut('fast',function(){
					    					$(this).remove();
					    					$('#xtable').fadeIn('slow');
					   				});
					   			//reseting variable for next push
				    			whichMember = 0;
				    			returnedData = [];
				    		}
				    	}
				    }
				    else {
						if ( whichMember <= leagueSize) {
				    		returnedData.push(data)
				    		whichMember ++;
				    		updateLoadingBar();
				    		if ( whichMember == leagueSize ){
				    			var cloned = $('#xtable').clone();
				    			cloned.find("tr:gt(0)").remove()
				    			buildTable(returnedData,cloned)
				    			cloned.tablesorter({
									sortList: [[5,1]]
								 });
								$('#xtable').rankingTableUpdate(cloned,{
									animationSettings: {
												        up: {
												            left: -25,
												            backgroundColor: '#CCFFCC'
												        },
												        down: {
												            left: 25,
												            backgroundColor: '#FFCCCC'
												        },
												    }

								});
							$('#xtable [rel=tooltip]').tooltip();
							whichMember = 0;
				    		returnedData = [];
				    		}
				    	}
				    }
				}
		    });

//update loading bar
function updateLoadingBar() {
	$('#loadcounter').text("("+whichMember+"/"+leagueSize+")")
	percentage = Math.round(whichMember / leagueSize * 100);
	$('.bar').attr('style',"width:"+percentage+"%")
}

//Build table
function buildTable(list,table) {
	$.each(list, function(i,values){
		//creating needed variable
		var teamname = values['teamname'];
		var gwpts = values['gwpts'];
		var totalpts = values['totalpts'];
		var id = values['id'];
		var transfers = values['transfers'];
		var lineup = values['lineup'];
		var captain = getCaptain(lineup);
		var remaining = getRemaining(lineup);
		var pidLineup = getPidLineup(lineup);
		var remainingList = getRemainingList(lineup);

		//filling the data into the table
		table.append("<tr align='center'><td data-lineup='"+pidLineup+"' ><a href='http://fantasy.premierleague.com/entry/"+id+"/event-history/{{currentgw}}/'>"
		+teamname+"</a></td><td>"+captain+"</td><td id='remaining'"+remainingList+">"+remaining+"</td><td>"+transfers+"</td><td>"+gwpts+"</td><td>"+totalpts+"</td></tr>")
	});
	//sorting the table on Totalpts
	$('#xtable').tablesorter({
		sortList: [[5,1]]
	 });
	$('#xtable [rel=tooltip]').tooltip();
}


// Helpfer function for table update
function getPidLineup (lineup){
	pidLineup = [];
	$.each(lineup, function(i,player){
		pidLineup.push(player['pid']);
	});
	return pidLineup;
}

function getCaptain (lineup){
	var captain = "Error";
	$.each(lineup, function(i, player){
		if (player['captain'] == true) {
			captain = i;
		}
	});
	return captain;
}

function getRemaining (lineup){
	var remaining = 11;
	$.each(lineup, function(i, player){
		if (player['played'] == true && player['bench'] == false) {
			remaining --;
		}
	});
	return remaining;
}

function getRemainingList (lineup) {
	var remainingList = [];
	$.each(lineup, function(i, player){
		if (player['played'] == false && player['bench'] == false) {
			remainingList.push(" "+i.charAt(0).toUpperCase() + i.slice(1))
		}
	});
	if (remainingList.length > 0){
		remainingList = "rel='tooltip' data-title='Remaining players: "+remainingList+"'"
	}
	return remainingList;
}



// SOUND
var sound = true;
$('#sound').click(function(){
	if (sound == true){
		$(this).removeClass("icon-volume-up").addClass("icon-volume-off")
		sound = false;
	}
	else{
		$(this).removeClass("icon-volume-off").addClass("icon-volume-up")
		sound = true;
	}
});



//Push update for ticker
var test4 = 'none'
var pusher = new Pusher('b2c9525770d59267a6a2');
	    var channel = pusher.subscribe('prod_ticker');
	    channel.bind('ticker', function(data) {
	    	$.each(data.event,function(i,val){
	    		playername = val['playername'];
	    		pid = val['pid']
	    		time = val['time']
	    		msg = val['message']
	    		totalpts = val['TP']
	    		eventMsg =  '<li class="pushmsg"><p>['+time+'\'] <span rel="tooltip" title="total point: '+totalpts+' pts" class="player-name" pid ="'+pid+'">'+playername+'</span>'+msg+'</p></li>'
	    		$(eventMsg).prependTo('#update').hide();
	    		$('span').tooltip();
    			$('li').show(600);
    			playerHiglight();
	    		var audio = $("#ding")[0];
    			if (sound == true){
    				audio.play();
    			}
	    	});
	    	tickerOverflow();
	    });






</script>
</body>
</html>