<html>
{% include 'includes/header.html' %}

<body style="background-image:url('/static/img/groovepaper.png')">
<audio id="ding">
	<source src="static/sounds/ding.mp3"></source>
	<source src="static/sounds/ding.ogg"></source>
</audio>
{% include 'includes/nav.html' %}

<div class="container-fluid">
	<div class="span8">
		<h4 id="{{ league_id }}">{{ leaguename }}</h4>
		{% include 'includes/loading.html' %}
		<table class="table table-bordered" id="xtable">
			<thead>
				<tr>
					<th class="anim:constant sorter-false">Team Name</th>
					<th class="anim:constant sorter-false">Captain</th>
					<th class="anim:constant sorter-false">Remaining</th>
					<th class="anim:constant sorter-false"><span rel='tooltip' data-title='Numbers of transfers made this GW. NOT taken into account in GW Pts.'>Transfers</span></th>
					<th class="anim:constant sorter-false"><span rel='tooltip' data-title='Total Point for the gameweek {{currentgw}}'>Current GW</span></th>
					<th class="anim:constant sorter-false"><span rel='tooltip'data-title='Total Point for this season, including this GW points'>Total Points</span></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
<div class="span4">
	{% include 'includes/ticker.html' %}
</div>
</div>


<!-- Features Modal -->
<div id="featuresModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="featuresModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">LiveFPL Features</h3>
  </div>
  <div class="modal-body">
    <h4>New Features this Gameweek</h4>
    	<ul>
			<li>Rebuild liveFPL from the ground up.</li>
		</ul>
    <h4>Already working Features</h4>
	<ul>
		<li>When you Hover a player in the ticker on the right, It will highlight the teams that have it in their starting lineup. Also indicate if its the captain or not. </li>
		<li>Added new check on push update</li>
		<li>Recoded the player scrapping to be based on player ID and not bug</li>
		<li>Sound alert when there's a new action. Can be turn ON/OFF.</li>
		<li>liveFPL should be able to go from old GW to an new one on its own...</li>
		<li>Live update table</li>
		<li>Push Notification of ongoing actions</li>
		<li>A Lot of needed boring things...</li>
	<ul>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<script type="text/javascript">
$('#xtable').hide()
var leagueId = $('.span8 h4').attr('id');

//Check if we have data or need to wait for new
var scrapTimer = "{{data|safe}}"
var leagueSize = {{size}}

// build data with already scrapped data
var oldScrap = {{return_data |tojson|safe}}
if ( $('#loading').length > 0 && scrapTimer == "old") {
	console.log("Got old data. using that")
	buildTable(oldScrap,$('#xtable'));
	$('#loading').remove();
	highlightUserTeam()
	$('#xtable').show();
}

//Page SETUP
$(document).ready(function(){
	//start scrapping classic league
	if (scrapTimer != "old"){
		$.get('/getclassic?league_id='+{{ league_id }});
	}
	//start the tweet carousel
	$('.carousel').carousel({interval: 10000});
	// Fix the 1st tweet in the carousel
	$('.carousel-inner > .item:nth-child('+[Math.floor(Math.random()*51)]+')').attr('class','active item')
	//Activate tooltip
	$('[rel=tooltip]').tooltip();
	// Fix Ticker update overflow
	tickerOverflow();
	playerHiglight();
});


//Push table update
var whichMember = 0;
var returnedData = [];
var pusher = new Pusher('b2c9525770d59267a6a2');
var channel = pusher.subscribe(leagueId+'-prod');
channel.bind('classic', function(data) {
	if ( $('#loading').length ) {
    	if ( whichMember <= leagueSize) {
    		returnedData.push(data)
    		whichMember ++;
    		updateLoadingBar();
    		if ( whichMember == leagueSize ){
    				buildTable(returnedData, $('#xtable'))
					//Table is complete. removing loading div and showing table
					$('#loading').fadeOut('fast',function(){
	    					$(this).remove();
	    					highlightUserTeam()
	    					$('#xtable').fadeIn('slow');
	   				});
	   			//reseting variable for next push
    			whichMember = 0;
    			returnedData = [];
    		}
    	}
    }
    else {
		if ( whichMember <= leagueSize) {
    		returnedData.push(data)
    		whichMember ++;
    		updateLoadingBar();
    		if ( whichMember == leagueSize ){
    			var cloned = $('#xtable').clone();
    			cloned.find("tr:gt(0)").remove()
    			buildTable(returnedData,cloned)
    			cloned.tablesorter({
					sortList: [[5,1]]
				 });
				$('#xtable').rankingTableUpdate(cloned,{
					animationSettings: {
								        up: {
								            left: -25,
								            backgroundColor: '#CCFFCC'
								        },
								        down: {
								            left: 25,
								            backgroundColor: '#FFCCCC'
								        },
								    }

				});
			highlightUserTeam()
			$('#xtable [rel=tooltip]').tooltip();
			whichMember = 0;
    		returnedData = [];
    		}
    	}
    }
});

//update loading bar
function updateLoadingBar() {
	$('#loadcounter').text("("+whichMember+"/"+leagueSize+")")
	percentage = Math.round(whichMember / leagueSize * 100);
	$('.bar').attr('style',"width:"+percentage+"%")
}

//Build table
function buildTable(list,table) {
	$.each(list, function(i,values){
		//creating needed variable
		var teamname = values['teamname'];
		var gwpts = values['gwpts'];
		var totalpts = values['totalpts'];
		var id = values['id'];
		var transfers = values['transfers'];
		var lineup = values['lineup'];
		var captain = getCaptain(lineup);
		var remaining = getRemaining(lineup);
		var pidLineup = getPidLineup(lineup);
		var remainingList = getRemainingList(lineup);

		//filling the data into the table
		table.append("<tr align='center'><td data-id='"+id+"' data-lineup='"+pidLineup+"' ><a href='http://fantasy.premierleague.com/entry/"+id+"/event-history/{{currentgw}}/'>"
		+teamname+"</a></td><td>"+captain+"</td><td id='remaining'"+remainingList+">"+remaining+"</td><td>"+transfers+"</td><td>"+gwpts+"</td><td>"+totalpts+"</td></tr>")
	});
	//sorting the table on Totalpts
	$('#xtable').tablesorter({
		sortList: [[5,1]]
	 });
	$('#xtable [rel=tooltip]').tooltip();
}


// Helpfer function for table update
function getPidLineup (lineup){
	pidLineup = [];
	$.each(lineup, function(i,player){
		pidLineup.push(player['pid']);
	});
	return pidLineup;
}

function getCaptain (lineup){
	var captain = "Error";
	$.each(lineup, function(i, player){
		if (player['captain'] == true) {
			captain = i;
		}
	});
	return captain;
}

function getRemaining (lineup){
	var remaining = 11;
	$.each(lineup, function(i, player){
		if (player['played'] == true && player['bench'] == false) {
			remaining --;
		}
	});
	return remaining;
}

function getRemainingList (lineup) {
	var remainingList = [];
	$.each(lineup, function(i, player){
		if (player['played'] == false && player['bench'] == false) {
			remainingList.push(" "+i.charAt(0).toUpperCase() + i.slice(1))
		}
	});
	if (remainingList.length > 0){
		remainingList = "rel='tooltip' data-title='Remaining players: "+remainingList+"'"
	}
	return remainingList;
}


//Highlight user team
function highlightUserTeam(){
	var teamId = {{team_id}}
	$('#xtable tbody tr').each(function(){
		if (parseInt($(this).find('td').attr('data-id')) == teamId){
			$(this).addClass('user-team')
		}
	});
}


</script>
</body>
</html>